[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
jinja2 = "*"
flask-bootstrap4 = "*"
torch = "*"
torchvision = "*"
matplotlib = "*"
numpy = "*"
bentoml = "*"
scikit-learn = "*"
flask-caching = "*"
[requires]
python_version = "3.7"