{% extends "base.html" %}

{% block page %} Processing {% endblock %}

{% block contents %}
<div class="py-4 text-center">
    <div class="w-25 d-inline-block">
        <div id="spinner" class="spinner-border" role="status">
            <a href="/"><img class="mb-4 mw-100" src="/assets/logo.png" ></a>
        </div>
    </div>
    <h2>Processing Image, please wait...</h2>
    <div id="results"></div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    const interval = setInterval(() => {
        fetch('/get-results/{{ pid }}').then(r => r.json()).then(data => {
            if (data.running) return;

            $('h2').text('ML Results');
            $('#spinner').removeClass();
            $('#results').html(data.html)
            return clearInterval(interval)
        })
    }, 5000)

</script>
{% endblock %}
